{% load static %}
<div class="d-flex">
    <div class="revenue-chart-box__Icon me-20 order-bg-opacity-primary color-primary">
        <img src="{% static 'img/svg/profit.svg' %}" alt="img" class="svg">
    </div>
    <div class="d-flex align-items-start flex-wrap">
        <div class="me-25">
            <h2>$70K</h2>
            <p class="mt-1 mb-0">Revenue</p>
        </div>
        <div class="ap-po-details bg-none">
            <span class="color-success"><i class="las la-arrow-up"></i>
                <strong>25.36%</strong></span>
        </div>
    </div>
</div>