<div class="d-flex">
    <div class="revenue-chart-box__Icon me-20 order-bg-opacity-warning color-warning">
        <i class="uil uil-usd-circle"></i>
    </div>
    <div class="d-flex align-items-start flex-wrap">
        <div class="me-25">
            <h2>$40K</h2>
            <p class="mt-1 mb-0">Sales</p>
        </div>
        <div class="ap-po-details bg-none">
            <span class="color-danger"><i class="las la-arrow-down"></i>
                <strong>25.36%</strong></span>
        </div>
    </div>
</div>