{% load static %}
<div class="blog-card">
    <div class="blog-card__thumbnail">
        <a href="#">
            <img src="{% static 'img/bg4.png' %}" alt="">
        </a>
    </div>
    <div class="blog-card__details">
        <div class="blog-card__content">
            <div class="blog-card__title--top">15 March 2021</div>
            <h4 class="blog-card__title">
                <a href="#" class="entry-title" rel="bookmark">How to Create a Niche Based Dashboard</a>
            </h4>
            <p>There are many variations of passages of majority have suffered alteration in some form</p>
        </div>
        <div class="blog-card__meta">
            <div class="blog-card__meta-profile">
                <img src="{% static 'img/alex-suprun.png' %}" alt="">
                <span>Machel Bold</span>
            </div>
            <div class="blog-card__meta-count">
                <ul>
                    <li>
                        <div class="blog-card__meta-reaction">
                            <img src="{% static 'img/svg/heart.svg' %}" alt="heart" class="svg">
                            <span class="blog-card__meta-reaction-like">15 K</span>
                        </div>
                    </li>
                    <li>
                        <div class="blog-card__meta-doc-wrapper">
                            <img src="{% static 'img/svg/file-text.svg' %}" alt="file-text" class="svg">
                            <span class="blog-card__meta-doc">75</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>