{% load static %}

<div class="card banner-feature banner-feature--7 position-relative border-0 mb-0">
    <div class="d-flex justify-content-center">
        <div class="card-body py-25 px-30">
            <div class="div">
                <h4 class="banner-feature__heading">Subscribe to our newsletter</h4>
                <p class="banner-feature__para ">We notify you once any post is published</p>
                <button type="button" class="btn btn-primary mt-15 btn-md">Subscribe</button>
            </div>
            <div class="banner-feature__shape position-absolute">
                <img src="{% static 'img/3d-message.png' %}" alt="img">
            </div>
        </div>
    </div>
</div>