{% extends 'layout/app.html' %}

{% block title %} Google Map {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="dm-page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">{% translate "map-google" %}</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>{% translate "map-menu-title" %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% translate "map-google" %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default card-md mb-4">
                    <div class="card-header">
                        <h6>Google Map Basic</h6>
                    </div>
                    <div class="card-body">
                        <div class="google-map" id="google-map-basic"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default card-md mb-4">
                    <div class="card-header">
                        <h6>Google Map Style Light</h6>
                    </div>
                    <div class="card-body">
                        <div class="google-map" id="google-map-light"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default card-md mb-4">
                    <div class="card-header">
                        <h6>Google Map Style Dark</h6>
                    </div>
                    <div class="card-body">
                        <div class="google-map" id="google-map-dark"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-default card-md mb-4">
                    <div class="card-header">
                        <h6>Google Map Style Theme Color</h6>
                    </div>
                    <div class="card-body">
                        <div class="google-map" id="google-map-theme"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}