{% load static %}
<div class="card revenueChartTwo border-0">
    <div class="card-header">
        <h6>Sales Overview</h6>
        <div class="card-extra">
            <div class="dropdown dropleft">
                <a href="#" role="button" id="revenue4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'img/svg/more-horizontal.svg' %}" alt="more-horizontal" class="svg">
                </a>
                <div class="dropdown-menu" aria-labelledby="revenue4">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body px-sm-50 pb-sm-30 pt-sm-50 px-30 pb-30 pt-25">
        <div class="parentContainer position-relative">
          <div class="storage color-primary">
            <div class="storage"></div>
          </div>
        </div>
        <div class="sales-target d-flex justify-content-around mt-20">
          <div class="sales-target__single">
            <span>Completed</span>
            <h3>123,456</h3>
          </div>
          <div class="sales-target__single">
            <span>In progress</span>
            <h3>12,498</h3>
          </div>
        </div>
    </div>
</div>