{% load static %}
<div class="card banner-feature banner-feature--7 border-0 mb-0">
    <div class="d-flex justify-content-center">
        <div class="card-body py-30 px-30">
            <div class="banner-feature__shape me-20">
                <img src="{% static 'img/svg/message2.svg' %}" alt="img" class="svg">
            </div>
            <div class="div">
                <h2 class="banner-feature__heading">Subscribe to our newsletter</h2>
                <p class="banner-feature__para ">Lorem ipsum dolor sit amet, consetetur</p>
            </div>
        </div>
    </div>
</div>