{% load static %}
<div class="feature-profile">
    <div class="feature-profile__bg">
        <img src="{% static 'img/profile_bg.png' %}" alt="">
    </div>
    <div class="feature-profile_content">
        <img src="{% static 'img/profile_bg_2.png' %}" alt="">
        <h6>Robert Clinton</h6>
        <p>Best Seller of the last month</p>
        <ul class="profile-feature__social">
            <li>
                <a href="#" class="bg-facebook">
                    <img class="svg" src="{% static 'img/svg/facebook.svg' %}" alt="facebook">
                </a>
            </li>
            <li>
                <a href="#" class="bg-twitter">
                    <img class="svg" src="{% static 'img/svg/twitter.svg' %}" alt="twitter">
                </a>
            </li>
            <li>
                <a href="#" class="bg-instagram">
                    <img class="svg" src="{% static 'img/svg/instagram.svg' %}" alt="instagram">
                </a>
            </li>
        </ul>
    </div>
</div>