{% load static %}
<div class="card border-0">
    <div class="card-header border-0">
        <h6>Team Members </h6>
        <div class="card-extra">
            <div class="dropdown dropleft">
                <a href="#" role="button" id="revenue4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'img/svg/more-horizontal.svg' %}" alt="more-horizontal" class="svg">
                </a>
                <div class="dropdown-menu" aria-labelledby="revenue4">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pb-30 pt-1">
        <div class="team-members">
            <ul>
                <li>
                    <div class="team-members__left">
                        <img src="{% static 'img/team1.png' %}" alt="">
                        <div class="team-members__title">
                            <h6>Shane Watson</h6>
                            <div class="team-members__title--online"><span class="badge-dot dot-success"></span>Online
                            </div>
                        </div>
                    </div>
                    <div class="team-member__right">
                        <div class="team-member__add">
                            <button type="button">add</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-members__left">
                        <img src="{% static 'img/team1.png' %}" alt="">
                        <div class="team-members__title">
                            <h6>Shane Watson</h6>
                            <div class="team-members__title--online"><span class="badge-dot dot-success"></span>Online
                            </div>
                        </div>
                    </div>
                    <div class="team-member__right">
                        <div class="team-member__add">
                            <button type="button">add</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-members__left">
                        <img src="{% static 'img/team1.png' %}" alt="">
                        <div class="team-members__title">
                            <h6>Shane Watson</h6>
                            <div class="team-members__title--online"><span class="badge-dot dot-success"></span>Online
                            </div>
                        </div>
                    </div>
                    <div class="team-member__right">
                        <div class="team-member__add">
                            <button type="button">add</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-members__left">
                        <img src="{% static 'img/team1.png' %}" alt="">
                        <div class="team-members__title">
                            <h6>Shane Watson</h6>
                            <div class="team-members__title--online"><span class="badge-dot dot-success"></span>Online
                            </div>
                        </div>
                    </div>
                    <div class="team-member__right">
                        <div class="team-member__add">
                            <button type="button">add</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-members__left">
                        <img src="{% static 'img/team1.png' %}" alt="">
                        <div class="team-members__title">
                            <h6>Shane Watson</h6>
                            <div class="team-members__title--online"><span class="badge-dot dot-success"></span>Online
                            </div>
                        </div>
                    </div>
                    <div class="team-member__right">
                        <div class="team-member__add">
                            <button type="button">add</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>